<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter App</title>
</head>
<body>
    {{ if .Message }}
        <p style="color: red;">{{ .Message }}</p>
    {{ end }}

    {{ if not .CurrentUser }}
        <!-- Form login -->
        <form action="/loginProcess" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
            <input type="submit" value="Login">
        </form>
    {{ else }}
        <!-- User is logged in -->
        <p>Welcome, {{ .CurrentUser.Username }}!</p>
        <a href="/logout">Logout</a>
    {{ end }}
</body>
</html>
